body{
  margin: 0;
  background: #051F20;
  width: 100%;
  justify-content: center;
  overflow-x: hidden;
}

body.secureBackground {
  background-color: #371211;
  transition: background-color 0.3s ease;
}